body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main-page,
  .form-page,
  .camera-page,
  .table-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .button {
    background-color: #6200ee;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3700b3;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .form label {
    margin-bottom: 10px;
  }
  
  .form input,
  .form select {
    padding: 5px;
    margin-top: 5px;
  }
  
  .video {
    width: 640px;
    height: 480px;
    background-color: black;
  }
  
  .visitor-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .visitor-table th,
  .visitor-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .visitor-table th {
    background-color: #f2f2f2;
  }
  
  .visitor-table img {
    border-radius: 50%;
  }
  
  .filter-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .filter-button {
    padding: 5px 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    align-items: center;
  }
  
  .pagination-button {
    background-color: #6200ee;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #3700b3;
  }
  
  .pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  